.eb-remove-icon {
  height: 20px !important;
  width: 20px !important;
  margin-top: 10px;
  cursor: pointer;
}

.eb-selected-row {
  margin: 0 !important;
}

.eb-button {
  background-color: #ff0028;
  padding: 15px 30px 13px;
  border-color: #ff0028;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}

#eb-success {
  display: none;
}

.eb-success-message {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding: 20px 15px;
  line-height: 1.4em;
  border-radius: 2px;
  clear: both;
}

.flatpickr-calendar input[type='number'] {
  all: unset !important;
  width: 50px !important;
  margin-left: -15px !important;
}

.flatpickr-month, .flatpickr-weekdays, .flatpickr-weekday {
  background: #ff0028 !important;
}

.flatpickr-weekday {
  color: #fff !important;
}

.flatpickr-day.selected {
  background: #ff0028 !important;
  border-color: #ff0028 !important;
}

.flatpickr-day.today {
  border-color: #ff0028 !important;
}
