.eb-remove-icon {
  height: 20px !important;
  width: 20px !important;
  margin-top: 10px;
  cursor: pointer;
}

.eb-selected-row {
  margin: 0 !important;
}

.eb-button {
  background-color: #ff0028;
  padding: 15px 30px 13px;
  border-color: #ff0028;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}

.eb-summary-title {
  font-size: 11px;
  text-transform: uppercase;
  height: 25px;
}

.eb-summary-value {
  font-size: 18px;
  font-weight: bold;
}

#eb-success {
  display: none;
}

.eb-success-message {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding: 20px 15px;
  line-height: 1.4em;
  border-radius: 2px;
  clear: both;
}

.eb-required-indication {
  color: #ff0028 !important;
  font-size: 22px !important;
  margin-left: 5px;
  font-weight: bold;
}

.eb-required-field {
  border: 1px solid #ff0028 !important;
}

.eb-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 99999;
}

.eb-overlay-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.flatpickr-calendar input[type='number'] {
  all: unset !important;
  width: 50px !important;
  margin-left: -15px !important;
}

.flatpickr-month, .flatpickr-weekdays, .flatpickr-weekday {
  background: #ff0028 !important;
}

.flatpickr-weekday {
  color: #fff !important;
}

.flatpickr-day.selected {
  background: #ff0028 !important;
  border-color: #ff0028 !important;
}

.flatpickr-day.today {
  border-color: #ff0028 !important;
}
